<li class="house-card">
  <form method="post" action="/delete/<%= house.id %>">
    <button type="submit" class="delete-house">
      <%- include('../icons/cross-icon') %>
    </button>
  </form>
  <a href="/house/<%= house.id %>">
    <picture>
      <source
        srcset="https://fdnd-agency.directus.app/assets/<%= house.poster_image.id %>?format=avif"
        type="image/avif"
      />
      <source
        srcset="https://fdnd-agency.directus.app/assets/<%= house.poster_image.id %>?format=webp"
        type="image/webp"
      />
      <img
        src="https://fdnd-agency.directus.app/assets/<%= house.poster_image.id %>"
        alt="<%= house.title %>"
        height="<%= house.poster_image.height %>"
        width="<%= house.poster_image.width %>"
        loading="lazy"
      />
    </picture>
  </a>
  <div class="card-container">
    <a href="/house/<%= house.id %>">
      <h2><%= house.street %> <%= house.house_nr %></h2>
    </a>
    <span class="price">€<%= house.price %></span>
    <span class="underlined">Bekijken</span>
    <%- include('./rating-form', {house: house}) %>
  </div>
</li>
