<form
  class="rating-form"
  method="POST"
  data-current-rating="<%- Math.floor(Math.random() * 6) %>"
>
  <button type="submit" formaction="/rate/<%= house.id %>/1">
    <%- include('./icons/star-icon') %>
  </button>
  <button type="submit" formaction="/rate/<%= house.id %>/2">
    <%- include('./icons/star-icon') %>
  </button>
  <button type="submit" formaction="/rate/<%= house.id %>/3">
    <%- include('./icons/star-icon') %>
  </button>
  <button type="submit" formaction="/rate/<%= house.id %>/4">
    <%- include('./icons/star-icon') %>
  </button>
  <button type="submit" formaction="/rate/<%= house.id %>/5">
    <%- include('./icons/star-icon') %>
  </button>
</form>
