<div class="event-main-container">

      {% for headerEvent in headerEvents %}
        <section class="card-child-container">
          <figure class="card-image-container">
            {% if headerEvent.photo and headerEvent.photo.id %}
              <picture>
                <source media="(max-width: 360px)" type="image/avif" srcset="https://fdnd-agency.directus.app/assets/{{ headerEvent.photo.id }}?format=avif&width=360">
                <source media="(max-width: 720px)" type="image/webp" srcset="https://fdnd-agency.directus.app/assets/{{ headerEvent.photo.id }}?format=webp&width=720">   
                <source media="(max-width: 900px)" type="image/avif" srcset="https://fdnd-agency.directus.app/assets/{{ headerEvent.photo.id }}?format=avif&width=700">               
                <source media="(min-width: 1100px)" type="image/webp" srcset="https://fdnd-agency.directus.app/assets/{{ headerEvent.photo.id }}?format=webp&width=900">              
                <source media="(min-width: 1600px)" type="image/avif" srcset="https://fdnd-agency.directus.app/assets/{{ headerEvent.photo.id }}?format=avif&width=1400">

                <img class="card-image" loading="lazy" style="view-transition-name: event-image-{{ headerEvent.id }}" src="https://fdnd-agency.directus.app/assets/{{ headerEvent.photo.id }}"
                    alt="{{ headerEvent.title }}" width="{{ headerEvent.photo.width }}" height="{{ headerEvent.photo.height }}">
              </picture>
            {% else %}
              <img class="card-image" loading="lazy" style="view-transition-name: event-image-{{ headerEvent.id }}" src="/assets/Image.png" alt="Afbeelding niet beschikbaar">
            {% endif %}
            <figcaption class="image-caption label">
              {% if headerEvent.title %}
              {{ headerEvent.title | split: " " | slice: 0, 2 | join: " " | upcase }}
              {% else %}
                NADER BEPAALD
              {% endif %}
            </figcaption>
          </figure>

        {% assign event_date = headerEvent.date | default: '2024-01-01' %}
        <time class="event-time-stamp event-date" datetime="{{ event_date | date: '%Y-%m-%d' }}">
          <span>
            {% if headerEvent.date %}
              {{ headerEvent.date | upcase }}
            {% else %}
              NADER BEPAALD
            {% endif %}
          </span>

          <span>
            {% if headerEvent.location %}
              / {{ headerEvent.location | upcase }}
            {% else %}
              / NADER BEPAALD
            {% endif %}
          </span>
        </time>

        <h3 class="event-card-title">
          {% if headerEvent.title %}
            {{ headerEvent.title | upcase }}
          {% else %}
            NADER BEPAALD
          {% endif %}
        </h3>

        {% render 'partials/link-href.liquid', link: '/events/detail-event/1', linktext: 'DETAILS', class: "card-btn"  %}

      </section>
    {% endfor %}

   


    {% comment %} partial list met events {% endcomment %}
    {% render 'partials/event-list.liquid' %}

</div>
