<div class="event-cards-parent-container">
  <article class="card-child-container">
    <figure class="card-image-container">
        <picture>
            <source media="(max-width: 360px)" type="image/avif" srcset="{{ img-src }}">
            <source media="(max-width: 360px)" type="image/webp" srcset="{{ img-src }}">

            <source media="(max-width: 720px)" type="image/avif" srcset="{{ img-src }}">
            <source media="(max-width: 720px)" type="image/webp" srcset="{{ img-src }}">

            <source media="(min-width: 900px)" type="image/avif" srcset="{{ img-src }}">
            <source media="(min-width: 900px)" type="image/webp" srcset="{{ img-src }}">

            <source media="(min-width: 1100px)" type="image/webp" srcset="{{ img-src }}">
            <source media="(min-width: 1600px)" type="image/avif" srcset="{{ img-src }}">

            <img class="card-image" src="/img/Image.png" alt="Voorbeeldafbeelding" width="312" height="312">
        </picture>

        <figcaption class="image-caption label">DDA</figcaption>
    </figure>

    <time class="event-time-stamp event-date" datetime="2024-01-01">
      <span>01 JAN 2024</span>
      <span>/ AMSTERDAM</span>
    </time>

    <h3 class="event-card-title">DUTCH DIGITAL DAY: THE 10TH EDITION</h3>

    {% render 'partials/link-href.liquid', link: '/events/detail-event/1', linktext: 'DETAILS', class: "card-button"  %}
  </article>

<article class="card-child-container">
    <figure class="card-image-container">
        <picture>
            <source media="(max-width: 360px)" type="image/avif" srcset="{{ img-src }}">
            <source media="(max-width: 360px)" type="image/webp" srcset="{{ img-src }}">

            <source media="(max-width: 720px)" type="image/avif" srcset="{{ img-src }}">
            <source media="(max-width: 720px)" type="image/webp" srcset="{{ img-src }}">

            <source media="(min-width: 900px)" type="image/avif" srcset="{{ img-src }}">
            <source media="(min-width: 900px)" type="image/webp" srcset="{{ img-src }}">

            <source media="(min-width: 1100px)" type="image/webp" srcset="{{ img-src }}">
            <source media="(min-width: 1600px)" type="image/avif" srcset="{{ img-src }}">

            <img class="card-image" src="/img/Image.png" alt="Voorbeeldafbeelding" width="312" height="312">
        </picture>

        <figcaption class="image-caption label">DDA</figcaption>
    </figure>

    <time class="event-time-stamp event-date" datetime="2024-01-01">
      <span>01 JAN 2024</span>
      <span>/ AMSTERDAM</span>
    </time>

    <h3 class="event-card-title">DUTCH DIGITAL DAY: THE 10TH EDITION</h3>

    {% render 'partials/link-href.liquid', link: '/events/detail-event/1', linktext: 'DETAILS', class: "card-button"  %}
  </article>

 <article class="card-child-container">
    <figure class="card-image-container">
        <picture>
            <source media="(max-width: 360px)" type="image/avif" srcset="{{ img-src }}">
            <source media="(max-width: 360px)" type="image/webp" srcset="{{ img-src }}">

            <source media="(max-width: 720px)" type="image/avif" srcset="{{ img-src }}">
            <source media="(max-width: 720px)" type="image/webp" srcset="{{ img-src }}">

            <source media="(min-width: 900px)" type="image/avif" srcset="{{ img-src }}">
            <source media="(min-width: 900px)" type="image/webp" srcset="{{ img-src }}">

            <source media="(min-width: 1100px)" type="image/webp" srcset="{{ img-src }}">
            <source media="(min-width: 1600px)" type="image/avif" srcset="{{ img-src }}">

            <img class="card-image" src="/img/Image.png" alt="Voorbeeldafbeelding" width="312" height="312">
        </picture>

        <figcaption class="image-caption label">DDA</figcaption>
    </figure>

    <time class="event-time-stamp event-date" datetime="2024-01-01">
      <span>01 JAN 2024</span>
      <span>/ AMSTERDAM</span>
    </time>

    <h3 class="event-card-title">DUTCH DIGITAL DAY: THE 10TH EDITION</h3>

    {% render 'partials/link-href.liquid', link: '/events/detail-event/1', linktext: 'DETAILS', class: "card-button"  %}
  </article>
</div>