<header class="radio-{{thisstation}}">

    <a href="/station/{{thisstation}}" class="logo logo-{{thisstation}}">
        {% case thisstation %}
            {% when 1 %}
                <picture>
                    <source type="image/avif" srcset="/assets/radio-1.avif">
                    <source type="image/webp" srcset="/assets/radio-1.webp">
                    <img src="/assets/radio-1.png" width="93" height="33" alt="Logo van {{ stationNameGenerated }}">
                </picture>
                
            {% when 2 %}
                <img src="/assets/radio-2.png" width="143" height="29" alt="Logo van {{ stationNameGenerated }}">
            {% when 3 %}
                <img src="/assets/radio-3.png" width="1470" height="598" alt="Logo van {{ stationNameGenerated }}">
            {% when 4 %}
                <img src="/assets/radio-4.png" width="889" height="216" alt="Logo van {{ stationNameGenerated }}">
            {% else %}
                <img src="/assets/radio-5.png" width="106" height="33" alt="Logo van {{ stationNameGenerated }}">
        {% endcase %}
    </a>
    <nav class="desktop-show">


        <ul class="primary-nav">
            <li><a href="/">Home</a></li>
            <li><a href="#radio" class="active">Radio</a></li>
            <li><a href="#ontdek">Ontdek</a></li>
        </ul>

    </nav>
    <button class="search-icon desktop-show" aria-label="Search">Zoeken
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path fill="black" d="M19.71 18.29L15.17 13.75C16.31 12.3 17 10.48 17 8.5C17 3.81 13.19 0 8.5 0C3.81 0 0 3.81 0 8.5C0 13.19 3.81 17 8.5 17C10.48 17 12.31 16.31 13.75 15.17L18.29 19.71L19.7 18.3L19.71 18.29ZM8.5 15C4.92 15 2 12.08 2 8.5C2 4.92 4.92 2 8.5 2C12.08 2 15 4.92 15 8.5C15 12.08 12.08 15 8.5 15Z" fill="white"/>
        </svg>
    </button>

    <a class="button-whatsapp" href="https://api.whatsapp.com/send/?phone=31850181100&text&type=phone_number&app_absent=0" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path fill="black" fill-rule="evenodd" clip-rule="evenodd" d="M0.354141 9.74956C0.354141 4.37364 4.7609 0 10.1775 0C15.5937 0 20 4.37364 20 9.74956C20 15.1249 15.5937 19.4981 10.1776 19.498C8.55318 19.498 6.94811 19.0975 5.52798 18.3387L0.338362 19.9878C0.312518 19.9961 0.286024 20 0.259726 20C0.191089 20 0.123881 19.9728 0.0743357 19.9222C0.00569921 19.8523 -0.0176774 19.7497 0.0137512 19.6569L1.70096 14.68C0.819467 13.1903 0.354141 11.4883 0.354141 9.74956ZM5.89597 16.1907C7.16857 17.0258 8.64902 17.4672 10.1775 17.4672C14.4675 17.4672 17.9575 14.0051 17.9575 9.74956C17.9575 5.49352 14.4673 2.03091 10.1775 2.03091C5.88707 2.03091 2.39655 5.49352 2.39655 9.74956C2.39655 11.3854 2.90882 12.9499 3.87791 14.274C3.92791 14.3424 3.94148 14.4307 3.91434 14.5109L3.07512 16.9868L5.6748 16.1604C5.70058 16.1522 5.72707 16.1482 5.7535 16.1482C5.8035 16.1482 5.85318 16.1626 5.89597 16.1907ZM14.7501 11.4684C14.7781 11.4822 14.7952 11.4905 14.799 11.4923L14.7991 11.4924C14.99 11.584 15.1408 11.6565 15.2283 11.8003C15.3561 12.0119 15.3055 12.5951 15.1134 13.1288C14.8696 13.8064 13.7976 14.3618 13.3098 14.4051L13.2383 14.4119C13.1255 14.423 12.9976 14.4355 12.8379 14.4355H12.8378C12.4577 14.4355 11.789 14.3703 10.377 13.8063C8.91033 13.2204 7.46351 11.9643 6.30292 10.2693C6.29956 10.2644 6.29637 10.2598 6.29336 10.2553C6.2784 10.2334 6.26776 10.2179 6.26149 10.2095C5.95844 9.81006 5.25259 8.75986 5.25259 7.64759C5.25259 6.41174 5.84415 5.70901 6.19383 5.48856C6.52357 5.2807 7.26935 5.18252 7.4063 5.17674C7.48752 5.17331 7.4961 5.17236 7.5047 5.1721C7.50801 5.172 7.51132 5.172 7.51877 5.172C7.80779 5.172 8.01578 5.34739 8.17318 5.72408C8.18889 5.76154 8.2363 5.87561 8.29975 6.0283C8.50068 6.5118 8.86256 7.38258 8.88877 7.43499C8.93078 7.51739 9.06078 7.77259 8.90857 8.07499L8.87591 8.14064L8.87572 8.14102C8.81347 8.26722 8.75969 8.37623 8.63903 8.51661C8.60026 8.56142 8.56078 8.60895 8.52137 8.65642L8.52114 8.65668C8.43797 8.75679 8.35201 8.86025 8.27266 8.93876C8.24552 8.96596 8.19292 9.01869 8.18721 9.03967C8.18723 9.03967 8.18725 9.03983 8.18731 9.04017C8.1878 9.04333 8.19062 9.06147 8.21162 9.09726C8.37442 9.37278 9.56163 11.0066 11.1257 11.686C11.194 11.7157 11.4197 11.8086 11.4327 11.8086C11.4473 11.8086 11.4716 11.7843 11.4894 11.764C11.6256 11.6101 12.0665 11.0947 12.2121 10.8782C12.341 10.6854 12.5064 10.5873 12.7033 10.5873C12.8238 10.5873 12.9371 10.6244 13.0429 10.6624C13.2769 10.7466 14.4889 11.3405 14.7501 11.4684Z" fill="white"/>
            <title>WhatsApp</title>
        </svg>
        <span class="desktop-show">
            App Studio
        </span>
    </a>
</header>