<a
  class="{{style | default: 'primary-button'}}"
  href="{{link |  default: '#'}}"
  target="{{target |  default: '_self'}}"
  id="{{ id }}"
>
  <p class="button-text">{{ text | default: 'Click me' }}</p>
  <div class="loading-dots"><span></span><span></span><span></span><span></span></div>
</a>

{% comment %}
  This is how you use the link partial
        {%
          render 'partials/link.liquid',
          link: btnLink,
          text: btnText,
          style: btnStyle,
          id="{{ id }}", // "send-animation" for button animation
        %}
{% endcomment %}
