<% sdgs.forEach(function(sdg) { %>	

	<article class="selected-<%= sdg.number %>">
		
		<picture>
			<source srcset="https://fdnd-agency.directus.app/assets/<%= sdg.icon %>?format=avif" type="image/avif">
			<source srcset="https://fdnd-agency.directus.app/assets/<%= sdg.icon %>?format=webp" type="image/webp">
			<img src="https://fdnd-agency.directus.app/assets/<%= sdg.icon %>" alt="<%= sdg.title %>" height="100" width="100">	
		</picture>
		
        <p>
            <label>
                <input type="range" class="hi" min="-5" max="5" value="" name="selectSdg" list="values">
            </label>
			<datalist id="values">
				<option value="-5" label="-5"></option>
				<option value="-4" label=""></option>
				<option value="-3" label=""></option>
				<option value="-2" label=""></option>
				<option value="-1" label=""></option>
				<option value="-0" label="0"></option>
				<option value="1" label=""></option>
				<option value="2" label=""></option>
				<option value="3" label=""></option>
				<option value="4" label=""></option>
				<option value="5" label="5"></option>
			</datalist>
		</p>

		
	</article>
<% }) %>