<div class="card card-playlist">
    <picture>
        <source srcset="https://fdnd-agency.directus.app/assets/<%= item.image?.id %>?format=avif" type="image/avif">
        <source srcset="https://fdnd-agency.directus.app/assets/<%= item.image?.id %>?format=webp" type="image/webp">
        <img class="logo" loading="lazy" src="https://fdnd-agency.directus.app/assets/<%= item.image?.id %>" alt="<%= item.title %>" height="164" width="<%= item.image?.width %>">
    </picture>
    
    <div class="text-content">
        <div class="title-content">
            <h3 style="font-family: sans-serif;"><%= item.title %></h3>
        </div>
        <div class="actions">
            <a href="<%= item.slug %>" class="play">
                <img src="images/play-button.png" alt="play button" height="40" width="40">
                <span>
                    <!-- 
                        Hierin staat het aantal stories van een playlist
                        Later wil ik hierin ook de tijd van de playlist duur zetten
                    -->
                    <%= item.stories.length %> stories
                </span>
            </a>
            <div class="additional-actions">
                <form action="/" method="POST">
                    <!-- 
                        Maakt een hidden input aan met de id van het item
                        Door dit te gebruiken kan ik de data van de playlist doorsturen naar de back-end
                     -->
                     <input type="hidden" name="isLiked" value="<%= item.isLiked %>">
                     <input type="hidden" name="isLikedId" value="<%= item.isLikedId %>">
                     <!-- Deze moet volgensmij bewerkt worden -->
                    <input type="hidden" name="itemId" value="<%= item.id %>">
                    <button type="submit" data-ifLiked="<%= item.isLiked %>">
                        <!-- 
                            Checkt of het item in de favourites array zit
                            Als dat zo is dan laat hij een gevulde hartje zien
                            Zo niet dan laat hij een leeg hartje zien
                         -->
                         <% if (item.isLiked) { %>
                            <img src="/svg/heart-filled.svg" alt="like filled heart icon" height="24" width="24">
                        <% } else { %>
                            <img src="/svg/heart.svg" alt="like heart icon" height="24" width="24">
                        <% } %>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


