<h1>
    Activiteiten
</h1>

<ol>
    {% for log in logs %}
    <li>
        <article>
            <span class="log-action-icon">
                {% case log.type_action %}
                    {% when 'Uitlenen' %}
                    {% comment %}svg Uitlenen{% endcomment %}
                    {% when 'Innemen' %}
                    {% comment %}svg Innemen{% endcomment %}
                    {% when 'Schade' %}
                    {% comment %}svg Schade{% endcomment %}
                    {% when 'Toevoegen' %}
                    {% comment %}svg Toevoegen{% endcomment %}
                    {% when 'Aanpassen' %}
                    {% comment %}svg Aanpassen{% endcomment %}
                    {% when 'Verwijderen' %}
                    {% comment %}svg Verwijderen{% endcomment %}
                {% endcase %}
            </span>

            <section class="log-details">
                <h2 class="log-action">{{ log.type_action | default: 'onbekend'}}</h2>

                <dl class="action-instrument">
                    <dt>{{ log.instrument.name | default: 'onbekend'}}</dt>
                    <dd>{{ log.instrument.serial_number | default: 'onbekend'}}</dd>
                </dl>

                <dl class="log-parties">
                    {% case log.type_action %}
                        {% when 'Uitlenen' %}
                        <dt>Uitgeleend door</dt>
                        <dd>{{ log.performed_by | default: 'onbekend' }}</dd>
                        <dt>Aan</dt>
                        <dd>{{ log.involved_party | default: 'onbekend' }}</dd>

                        {% when 'Innemen' %}
                        <dt>Ingenomen door</dt>
                        <dd>{{ log.performed_by | default: 'onbekend' }}</dd>
                        <dt>Van</dt>
                        <dd>{{ log.involved_party | default: 'onbekend' }}</dd>

                        {% when 'Schade' %}
                        <dt>Schade gemeld door</dt>
                        <dd>{{ log.performed_by | default: 'onbekend' }}</dd>
                        <dt>Ontstaan bij</dt>
                        <dd>{{ log.involved_party | default: 'onbekend' }}</dd>
                        
                        {% when 'Toevoegen', 'Aanpassen', 'Verwijderen' %}
                        <dt>Door</dt>
                        <dd>{{ log.performed_by | default: 'onbekend' }}</dd>
                    {% endcase %}
                </dl>
            </section>

            <time class="log-time" datetime="{{ log.dat_created }}">{{ log.dat_created | date: "%H:%M" }}</time>
        </article>
    </li>
    {% endfor %}
</ol>