<link rel="stylesheet" href="/public/stylesheet.css">

<main>
    <section class="header">
        <h2>My liked Items</h2>
    </section>
    <section class="object-container">
        <ul class="art-images">
          {% for api in likedArtworks %}
          <li class="image-container">
            <a style="view-transition-name: 'image-{{ api.fabrique_art_objects_id.id }}';" href="/details/{{ api.fabrique_art_objects_id.id }}">
              <article class="image-wrapper">
                <div class="skeleton"></div> 
                <img class="lazy-image" 
                    src="https://fdnd-agency.directus.app/assets/{{ api.fabrique_art_objects_id.image }}"
                    alt="art images for qatar museums">
              </article>
            </a>
            <!--title, artist and year -->
            <h3>{{ api.fabrique_art_objects_id.title }}</h3>
            <p>{{ api.fabrique_art_objects_id.artist }}</p>
          </li>
          {% endfor %}
        </ul>
      </section>
      