<div>
    <nav>
        <img src="/icon-radiostations" alt="">
        <h2>Radiostations</h2>
        <p>Ga naar de programma's</p>
        {% for bookmark in bookmarks %}
        <ul>
            <li>
                <a href="/radio{{radiostation.name | url_encode | replace: '+', '%20'}}/programering">
                    <picture> 
                        <source srcset="https://fdnd-agency.directus.app/assets/{{ bookmark.show.radiostation.logo.id }} alt="{{ bookmark.show.radiostation.name }}">
                        <img src="https://fdnd-agency.directus.app/assets/{{ bookmark.show.radiostation.logo.id }} alt="{{ bookmark.show.radiostation.name }}">
                    </picture>
                </a>
            </li>
        </ul>
        {% endfor %}
    </nav>

    <main>
        <img src="/icon-bookmarks" alt="">
        <h1>Bookmarks</h1>
            {% for bookmark in bookmarks %} {% comment %} TO DO: koppelen serverjs {% endcomment %} {% comment %} Loads in the data out of the databse {% endcomment %} 
                {% comment %} setup for every show {% endcomment %}
                {% comment %} <pre>{{ bookmarks | json }}</pre> {% endcomment %}
                 {% comment %} {{ bookmark.show.headermobile.title  }} {% endcomment %}
                <article> 
                    <p>{{ bookmark.show.radiostation.name }}</p>
                    <h4>{{ bookmark.headermobile.title }}</h4>
                    <picture>
                        <source srcset="https://fdnd-agency.directus.app/assets/{{ bookmark.show.headermobile.id }} alt="{{ bookmark.show.headermobile.title }}">
                        <img src="https://fdnd-agency.directus.app/assets/{{ bookmark.show.headermobile.id }} alt="{{ bookmark.show.headermobile.title }}">
                    </picture>
                    <h3>{{ bookmark.show.name }}</h3>
                    <dl> {% comment %} dl (description list) is a list inclusing terms and descriptions {% endcomment %}
                        <dt><img src="/icon-clock" alt="tijd"></dt> {% comment %} TO DO: vul de alt in bij de iconen zoals tijd en dj {% endcomment %}
                        <dd>{{ bookmark.from }} - {{ bookmark.until }}</dd>
                        <dt><img src="/icon-dj" alt="dj"></dt>
                        <dd>{{ bookmark.show.name }}</dd>
                    </dl>
                </article>
            {% endfor %}
    </main>
</div>