<div>
    <nav>
        <img src="/icon-radiostations" alt="">
        <h2>Radiostations</h2>
        <p>Ga naar de programma's</p>
        {% for bookmark in bookmarks %}
        <ul>
            <li>
                <a href="/radio{{radiostation.name | url_encode | replace: '+', '%20'}}/programering">
                    <picture> 
                        <source srcset="https://fdnd-agency.directus.app/assets/{{ bookmark.show.radiostation.logo.id }} alt="{{ bookmark.show.radiostation.name }}">
                        <img src="https://fdnd-agency.directus.app/assets/{{ bookmark.show.radiostation.logo.id }} alt="{{ bookmark.show.radiostation.name }}" width="250">
                    </picture>
                </a>
            </li>
        </ul>
        {% endfor %}
    </nav>

    <main>
        <img src="/icon-bookmarks" alt="">
        <h1>Bookmarks</h1>
            {% for bookmark in bookmarks %} {% comment %} TO DO: koppelen serverjs {% endcomment %} {% comment %} Loads in the data out of the databse {% endcomment %} 
                {% comment %} setup for every show {% endcomment %}
                {% comment %} <pre>{{ bookmarks | json }}</pre> {% endcomment %}
                 {% comment %} {{ bookmark.show.headermobile.title  }} {% endcomment %}
                <article> 
                    <p>{{ bookmark.show.radiostation.name }}</p>
                    <h4>{{ bookmark.headermobile.title }}</h4>
                    <picture>
                        <source srcset="https://fdnd-agency.directus.app/assets/{{ bookmark.show.headermobile.id }} alt="{{ bookmark.show.headermobile.title }}">
                        <img src="https://fdnd-agency.directus.app/assets/{{ bookmark.show.headermobile.id }} alt="{{ bookmark.show.headermobile.title }}" width="800">
                    </picture>
                    <h3>{{ bookmark.show.name }}</h3>
                    <dl> {% comment %} dl (description list) is a list inclusing terms and descriptions {% endcomment %}
                        <dt><svg width="16px" height="16px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12ZM11.8284 6.75736C12.3807 6.75736 12.8284 7.20507 12.8284 7.75736V12.7245L16.3553 14.0653C16.8716 14.2615 17.131 14.8391 16.9347 15.3553C16.7385 15.8716 16.1609 16.131 15.6447 15.9347L11.4731 14.349C11.085 14.2014 10.8284 13.8294 10.8284 13.4142V7.75736C10.8284 7.20507 11.2761 6.75736 11.8284 6.75736Z" fill="#8B8B8B"/></svg></dt> {% comment %} TO DO: vul de alt in bij de iconen zoals tijd en dj {% endcomment %}
                        <dd>{{ bookmark.from }} - {{ bookmark.until }}</dd>
                        <dt><svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24" fill="none" stroke="#8B8B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2" /><circle cx="12" cy="7" r="4" /></svg></dt>
                        <dd>{{ bookmark.show.name }}</dd>
                    </dl>
                </article>
            {% endfor %}
    </main>
</div>