{% render 'partials/head.liquid' title: 'Bookmarks' %}
<div>
    <nav>
        <svg width="97" height="97" viewBox="0 0 97 97" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M85.7116 30.3127H18.8392L43.0773 9.10435C44.7572 7.63438 44.9273 5.08112 43.4575 3.40124C41.9875 1.72136 39.4343 1.55123 37.7544 3.02101L5.42101 31.3128C4.9847 31.6945 4.65259 32.1504 4.42221 32.6441C1.73444 34.7076 0 37.9514 0 41.6011V75.6077C0 80.7271 3.41072 85.0491 8.08245 86.4313V90.9377C8.08245 93.1698 9.89192 94.9793 12.1241 94.9793C14.3562 94.9793 16.1657 93.1698 16.1657 90.9377V86.8961H80.8323V90.9377C80.8323 93.1698 82.6417 94.9793 84.8739 94.9793C87.106 94.9793 88.9155 93.1698 88.9155 90.9377V86.4317C93.5885 85.05 97 80.7277 97 75.6077V41.6011C97 35.3677 91.945 30.3127 85.7116 30.3127ZM88.9166 75.6077C88.9166 77.3768 87.4807 78.8127 85.7116 78.8127H11.2884C9.51926 78.8127 8.0834 77.3768 8.0834 75.6077V41.6011C8.0834 39.8319 9.51926 38.3961 11.2884 38.3961H85.7116C87.4807 38.3961 88.9166 39.8319 88.9166 41.6011V75.6077Z" fill="white"/><path d="M60.6241 46.4795H36.3741C34.142 46.4795 32.3325 48.289 32.3325 50.5211V66.6879C32.3325 68.92 34.142 70.7295 36.3741 70.7295H60.6241C62.8563 70.7295 64.6657 68.92 64.6657 66.6879V50.5213C64.6657 48.2891 62.8563 46.4795 60.6241 46.4795ZM56.5823 62.6463H40.4157V54.5629H56.5823V62.6463Z" fill="white"/><path d="M20.2074 62.646C17.9764 62.646 16.1658 64.4566 16.1658 66.6876C16.1658 68.9186 17.9764 70.7292 20.2074 70.7292C22.4384 70.7292 24.249 68.9186 24.249 66.6876C24.249 64.4566 22.4384 62.646 20.2074 62.646Z" fill="white"/><path d="M20.2074 46.4795C17.9764 46.4795 16.1658 48.2901 16.1658 50.5211C16.1658 52.7521 17.9764 54.5629 20.2074 54.5629C22.4384 54.5629 24.249 52.7523 24.249 50.5213C24.249 48.2903 22.4384 46.4795 20.2074 46.4795Z" fill="white"/><path d="M76.7909 62.646C74.5599 62.646 72.7493 64.4566 72.7493 66.6876C72.7493 68.9186 74.5599 70.7292 76.7909 70.7292C79.0219 70.7292 80.8325 68.9186 80.8325 66.6876C80.8325 64.4566 79.0219 62.646 76.7909 62.646Z" fill="white"/><path d="M76.7909 46.4795C74.5599 46.4795 72.7493 48.2901 72.7493 50.5211C72.7493 52.7521 74.5599 54.5629 76.7909 54.5629C79.0219 54.5629 80.8325 52.7523 80.8325 50.5213C80.8325 48.2903 79.0219 46.4795 76.7909 46.4795Z" fill="white"/></svg>
        <h2>Radiostations</h2>
        <p>Ga naar de programma's</p>
        {% for oneradio in radioData limit: 3 %}
            <ul>
                <li>
                    <a href="/radio{{radiostation.name | url_encode | replace: '+', '%20'}}/programering">
                        <picture> 
                            <source srcset="https://fdnd-agency.directus.app/assets/{{ oneradio.logo }} alt="{{ oneradio.name }}">
                            <img src="https://fdnd-agency.directus.app/assets/{{ oneradio.logo }} alt="{{ oneradio.name }}" width="250">
                        </picture>
                    </a>
                </li>
            </ul>
        {% endfor %}
    </nav>

    <main>
        <svg width="93" height="93" viewBox="0 0 93 93" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M73.625 23.25C73.625 16.8297 68.4203 11.625 62 11.625H31C24.5795 11.625 19.375 16.8297 19.375 23.25V77.7201C19.375 80.872 22.9377 82.7053 25.5021 80.8732L44.2479 67.4839C45.5952 66.5213 47.4048 66.5213 48.7521 67.4839L67.4977 80.8732C70.0624 82.7053 73.625 80.872 73.625 77.7201V23.25Z" stroke="#1E1E1E" stroke-width="6.67"/></svg>
        <h1>Bookmarks</h1>
            {% for bookmark in bookmarks %} 
                <article> 
                    <p>{{ bookmark.show.radiostation.name }}</p>
                    <h4>{{ bookmark.headermobile.title }}</h4>
                    <picture>
                        <source srcset="https://fdnd-agency.directus.app/assets/{{ bookmark.show.headermobile.id }} alt="{{ bookmark.show.headermobile.title }}">
                        <img src="https://fdnd-agency.directus.app/assets/{{ bookmark.show.headermobile.id }} alt="{{ bookmark.show.headermobile.title }}" width="800">
                    </picture>
                    <h3>{{ bookmark.show.name }}</h3>
                    <dl>
                        <dt><svg width="60px" height="60px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12ZM11.8284 6.75736C12.3807 6.75736 12.8284 7.20507 12.8284 7.75736V12.7245L16.3553 14.0653C16.8716 14.2615 17.131 14.8391 16.9347 15.3553C16.7385 15.8716 16.1609 16.131 15.6447 15.9347L11.4731 14.349C11.085 14.2014 10.8284 13.8294 10.8284 13.4142V7.75736C10.8284 7.20507 11.2761 6.75736 11.8284 6.75736Z" fill="#8B8B8B"/></svg></dt> {% comment %} TO DO: vul de alt in bij de iconen zoals tijd en dj {% endcomment %}
                        <dd>{{ bookmark.from }} - {{ bookmark.until }}</dd>
                        <dt><svg xmlns="http://www.w3.org/2000/svg" width="60px" height="60px" viewBox="0 0 24 24" fill="none" stroke="#8B8B8B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2" /><circle cx="12" cy="7" r="4" /></svg></dt>
                        <dd>{{ bookmark.show.name }}</dd>
                    </dl>
                </article>
            {% endfor %}
    </main>
</div>

{% render 'partials/foot.liquid' %}