<%- include('./partials/head',{title:"RedPers"}) %>
<link rel="stylesheet" href="/styles/category.css" type="text/css">

</head>


<body>

<%- include('./partials/header',{img_src:""}) %>

<main>
    <p><%= category.name %></p>
    <% posts.forEach(post => { %>
        <p><%- post.title.rendered %></p>
    <% }) %>
</main>




<%- include('./partials/foot'); -%>