<%- include('partials/head') %>
<main>
    <section class="company-container">
        <div class="company-information">
            <picture>
                <source srcset="<%= company.logo %>?width=200&height=200" type="image/avif">
                <source srcset="<%= company.logo %>?width=200&height=200" type="image/webp">
                <img src="<%= company.logo %>" alt="<%= company.name %>" height="200" width="200">
            </picture>
            <h2><%= company.name %></h2>
            <p><%= company.description %></p>
        </div>
        <div class="company-status">
            <progress value="22" max="100"></progress> <!--Moet nog gemaakt worden is placeholder (DIT WORD HET HUISJE)-->
        </div>
    </section>
    <section>
        <progress>  <!--Hier komt t plantenbakje-->  </progress>
    </section>
    <section class="stakeholders-list">
        <% stakeholder.forEach(function(item) { %>
        <h2>Stakeholder</h2>
        <article>
            <picture>
                <source srcset="https://fdnd-agency.directus.app/assets/<%= item.avatar %>format=avif&height=120&width=120" type="image/avif">
                <source srcset="https://fdnd-agency.directus.app/assets/<%= item.avatar %>?format=avif&height=120&width=120" type="image/webp">
                <img src="https://fdnd-agency.directus.app/assets/<%= item.avatar %>?width=120" height="120" width="120">
            </picture>
            <h3> <%= item.name %></h3>
            <p><%= item.type %></p>
        </article>
        <% }); %>
        <article>
            <button><!--Hier komt een SVG plusje in en verwijzing naar stakeholder vragenlijst--></button>
        </article>
    </section>
</main>