{% layout 'layouts/base.liquid' %}
{% block content %}

<main>

  <header>
        <h1>{{ instrument.name }}</h1>
        <h2>{{ instrument.instrument }}</h2>
  </header>

  <picture>
        <source srcset="https://fdnd-agency.directus.app/assets/{{ instrument.photo }}?fit=cover&format=avif&quality=25" type="image/avif">
        <source srcset="https://fdnd-agency.directus.app/assets/{{ instrument.photo }}?fit=cover&format=webp&quality=25" type="image/webp">
        <img src="https://fdnd-agency.directus.app/assets/{{ instrument.photo }}?fit=cover&format=jpg&quality=25" alt="{{ instrument.name }}" fetchpriority="high" width="456" height="320">
        <span class="status">{{ instrument.status | default:"Onbekend"}}</span>
  </picture>

  <article>
            <p><strong>Merk:</strong> {{ instrument.brand }}</p>
            <p><strong>Serie nummer:</strong> {{ instrument.serial_number }}</p>
            <p><strong>Bergplaats:</strong> {{ instrument.storage_room }}</p>
  </article>

  <nav class="knopjes">
    {% if instrument.status == "Beschikbaar" %}
      <button><a href="/instrumenten/{{ instrument.key }}/uitlenen" class="btn btn-primary button-uitlenen">Uitlenen</a></button>
    {% else %}
      <button><a href="/instrumenten/{{ instrument.key }}/innemen" class="btn btn-primary button-innemen">Innemen</a></button>
    {% endif %}
    <button><a href="/instrumenten/{{ instrument.key }}/aanpassen" class="btn btn-primary button-aanpassen">Aanpassen</a></button>
    <button><a href="/instrumenten/{{ instrument.key }}/schade" class="btn btn-primary button-schade">Schade</a></button>
    </nav>

  </main>

{% endblock %}
