<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail pagina</title>
    <link rel="stylesheet" href="/styles/detail.css">
    <link rel="stylesheet" href="/stylesheet.css">
    <script defer src="/script/main.js"></script>
  </head>

  {% render 'partials/header.liquid' %}
  <body>  

  <section class="hero-img">

    <a href="/" class="back-button">BACK</a>

    {% if object.image %}
        <img class="object-id" style="view-transition-name: artwork-{{ artwork.image.id }} ;" src="https://fdnd-agency.directus.app/assets/{{ object.image }}" alt="images of object in qatar " width="300px">        

    {% else %}
        <p>No image availible</p>
    {% endif %}
    
</section>

<section class="main-objectpagina">

<div class="object-title">
    <h1 class="h1-title">{{ object.title }}</h1>
</div>

<div class="info-tekst">
    <img src="/assets/blauwe-blok.svg" alt="blauwe-blok">
    <p class="tekst-medium">Museum of Islamic Art</p>
</div>

<div class="info-object">
    <p class="tekst-bold">Full title:</p>       <p class="tekst-medium">{{ object.title }}</p>
    <p class="tekst-bold">Artist:</p>           <p class="tekst-medium">{{ object.artist }}</p>
    <p class="tekst-bold">Location created:</p> <p class="tekst-medium">{{ object.site }}</p>
    <p class="tekst-bold">Period:</p>           <p class="tekst-medium">{{ object.displayDate }}</p>
    <p class="tekst-bold">Materials:</p>        <p class="tekst-medium">{{ object.materials }}</p>
    <p class="tekst-bold">Object nummer:</p>    <p class="tekst-medium">{{ object.objectNumber }}</p>
    <p class="tekst-bold">Record type:</p>      <p class="tekst-medium">{{ object.recordtype }}</p>
</div>

<div class="object-summary">
    
    {% if object.summary %}
        <h2 class="tekst-medium">{{ object.summary }}</h2>

    {% else  %}
        <p class="tekst-medium"> No summary available</p>
    {% endif %}    

<p class="tekst-bold">Share with a friend</p>

<div class="share-icons">
    <a href="" class="icon-links"><img src="/assets/paperclip-icoon.png" alt="paperclip-icoon"></a>
    <a href="" class="icon-links"><img src="/assets/email-icoon.png" alt="email-icoon"></a>
    <a href="" class="icon-links"><img src="/assets/linkedin-icoon.png" alt="linkedin-icoon"></a>
    <a href="" class="icon-links"><img src="/assets/facebook-icoon.png" alt="facebook-icoon"></a>
    <a href="" class="icon-links"><img src="/assets/Union.png" alt="x-icoon"></a>
</div>
</div> 
</section>

<section class="suggesties"> 
    <h2 class="tekst-medium">You may also like</h2>

    <ul class="ul-suggesties">
        <li>
            <img class="suggestie-img" src="/assets/image 11.png">
            <p class="tekst-medium">Egypt,Syria</p>
            <p class="tekst-bold">Inkwell pot</p>
        </li>

        <li>
            <img class="suggestie-img" src="/assets/image 19.png">
            <p class="tekst-medium">Syria, Iraq</p>
            <p class="tekst-bold">Tray Stand</p>
        </li>

                 
        <li>
            <img class="suggestie-img" src="/assets/image 12.png">
            <p class="tekst-medium">Iraq</p>
            <p class="tekst-bold">Abbasid Splash Ware Bowl</p>
        </li>

        <li>            
            <img class="suggestie-img" src="/assets/image 18.png">
            <p class="tekst-medium">Iznik</p>
            <p class="tekst-bold">Flask</p>
        </li>
    </ul>


</section>
</body>
