{% assign page = "detail" %}
{% layout 'layouts/base.liquid' %}

{% block breadcrumbs %}
  <nav class="breadcrumbs">
    <ol>
      <li><a href="/">Home</a></li>
      <li><a href="/instrumenten">Instrumenten</a></li>
      <li><a href="/instrumenten/{{ instrument.key }}">{{ instrument.key }}</a></li>
    </ol>
  </nav>
{% endblock %}

{% block content %}

<main class="detail">
  <header>
    <h1 style="view-transition-name:name-{{ instrument.id }}; view-transition-class:vt-name;" id="h1">{{ instrument.name }}</h1>
    <h2>{{ instrument.instrument }}</h2>
  </header>

  <div class="picture">
    <picture>
      <source
        srcset="https://fdnd-agency.directus.app/assets/{{ instrument.photo }}?fit=cover&format=avif&quality=25" type="image/avif">
      <source
        srcset="https://fdnd-agency.directus.app/assets/{{ instrument.photo }}?fit=cover&format=webp&quality=25"type="image/webp">
      <img
        src="https://fdnd-agency.directus.app/assets/{{ instrument.photo }}?fit=cover&format=jpg&quality=25" alt="{{ instrument.name }}" fetchpriority="high" width="456" height="320">
    </picture>

    <span class="status"  style="view-transition-name:status-{{ instrument.id }}; view-transition-class:vt-status;">{{ instrument.status | default: 'Onbekend' }}</span>
  </div>

  <section>
    <article class="info">
      <p><strong>Serie nummer:</strong> {{ instrument.serial_number }}</p>
      <p><strong>Type:</strong> {{ instrument.type }}</p>
      <p><strong>Merk:</strong> {{ instrument.brand }}</p>
      <p><strong>Eigendom van:</strong> {{ instrument.property }}</p>
      <p><strong>Bergplaats:</strong> {{ instrument.storage_room }}</p>
    </article>

    <nav class="knopjes">
      {% if instrument.status == 'Beschikbaar' %}
        <a href="/instrumenten/{{ instrument.key }}/uitlenen" class="btn btn-primary button-uitlenen">Uitlenen</a>
      {% else %}
        <a href="/instrumenten/{{ instrument.key }}/innemen" class="btn btn-primary button-innemen">Innemen</a>
      {% endif %}
      <a href="/instrumenten/{{ instrument.key }}/aanpassen" class="btn btn-primary button-aanpassen">Aanpassen</a>
      <a href="/instrumenten/{{ instrument.key }}/schade" class="btn btn-primary button-schade">Schade</a>
    </nav>
  </section>
</main>

{% endblock %}
