<%- include('partials/head', {page: 'Favorieten'}) %> <%-
include('partials/nav') %>

<div class="layout-container page-favourites">
    <%- include('partials/breadcrumbs', {items: ['Home', 'Mijn Account',
    'Favorieten']}) %>
    <h1>Favorieten</h1>
    <p>
        In dit overzicht vind je al je favoriete huizen terug. Maak het jezelf
        makkelijker door huizen te bewaren en notities toe te voegen over het
        huis, de buurt en andere belangrijke details voor je zoektocht.
    </p>

    <!-- ================================================== -->
    <!-- Leden section -->
    <!-- ================================================== -->
    <section>
        <!-- leden beschrijving -->
        <h2>Leden</h2>
        <p>Alle leden van de favorieten lijst.</p>
        <!-- leden list -->
        <ul class="member-list">
            <li class="member-item">
                <img src="#" width="25" height="25" />
                <p>Naam</p>
            </li>
            <li class="member-item">
                <img src="#" width="25" height="25" />
                <p>Naam</p>
            </li>
        </ul>
        <!-- buttons -->
        <div class="option-row">
            <select class="btn-blue">
                <option selected>Relevantie</option>
            </select>
            <button class="btn-blue" id="btn-leden">Leden</button>
        </div>
    </section>
    <!-- ================================================== -->
    <!-- Leden dialog -->
    <!-- ================================================== -->
    <dialog id="dialog-leden">
        <form>
            <!-- Title -->
            <div class="title-row">
                <h2>Leden</h2>
                <button id="btn-close-dialog" formmethod="dialog">X</button>
            </div>
            <p>Alle leden van de favorieten lijst.</p>

            <!-- Leden lijst -->
            <ul class="member-list">
                <li class="member-item">
                    <img src="#" width="25" height="25" />
                    <p>Naam</p>
                </li>
                <li class="member-item">
                    <img src="#" width="25" height="25" />
                    <p>Naam</p>
                </li>
            </ul>

            <hr />
            <!-- Nieuwe leden -->
            <h2>Nieuwe leden</h2>
            <p>Voeg nieuwe leden toe aan je favorieten lijst.</p>
            <input type="search" placeholder="Zoek naar nieuwe leden..." />
            <ul class="member-list">
                <li class="member-item">
                    <img src="#" width="25" height="25" />
                    <p>Naam</p>
                </li>
            </ul>
            <!-- Buttons -->
            <button
                class="btn-secondary-outline"
                value="cancel"
                formmethod="dialog"
            >
                Annuleren
            </button>
            <button class="btn-primary-solid" value="default">Opslaan</button>
        </form>
    </dialog>

    <ul class="favourites-grid">
        <% data.houses.forEach(currentHouse => { %> <%-
        include('partials/card/house-card', {house: currentHouse.f_houses_id, rating: currentHouse.rating}) %>
        %> <% }) %>
    </ul>
</div>

<script src="/scripts/favorieten.js" defer></script>
<!-- Script voor toast notificaties -->
<script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/toastify-js"
></script>
<!-- Script voor confetti effect (bij 5 sterren rating) -->
<script src="https://cdn.jsdelivr.net/npm/@tsparticles/confetti@3.0.3/tsparticles.confetti.bundle.min.js"></script>

<%- include('partials/footer') %> <%- include('partials/foot') %>
