<%- include('./partials/head') %> <!-- Deze regel voegt de inhoud van head.ejs toe aan de pagina -->


<!-------------------------------intro section--------------------------------------->
<article class="intro">
    <h1>Gedeelde favorieten</h1>
    <p>In dit overzicht vind je al je favoriete huizen terug in je aangemaakte lijst. Maak het jezelf makkelijker door huizen te bewaren en beoordelingen toe te voegen en te delen over het huis, de buurt en andere belangrijke details voor je zoektocht.<p>
</article> 
<!-------------------------------intro section end--------------------------------------->

<!-------------------------------house-list section--------------------------------------->
<section class="house-list">
    <div class="list-name">
        <h2>Eerste woning</h2>
        <button class="add-house-button">Zie alle lijsten</button>
  
    </div>
    <% houses.forEach(function(house) { %>
        <div class="house-card">
            <img src="https://fdnd-agency.directus.app/assets/<%= house.f_houses_id.poster_image %>" alt="Afbeelding van een huis" class="house-image">
            <article class="house-details">
                <h3 class="house-title"><%= house.f_houses_id.street %> <%= house.f_houses_id.house_nr %> <%= house.f_houses_id.nr_addition %></h3>
                <p class="house-location"><%= house.f_houses_id.postal_code %> <%= house.f_houses_id.city %></p>
                <p class="house-price">€<%= house.f_houses_id.price %> K.K.</p>
                <p class="house-size"><%= house.f_houses_id.m2 %> m² / <%= house.f_houses_id.rooms %> kamers</p>
                <button class="beoordeling-button">Beoordeling toevoegen</button>
            </article>
        </div>

<!-------------------------------house-list section end--------------------------------------->

<!-------------------------------rating section--------------------------------------->
<%- include('./partials/rating', { house: house }) %>  <!-- Deze regel voegt de inhoud van rating.ejs toe aan de pagina -->
    <% }) %>
</section>
<!-------------------------------rating section end--------------------------------------->
</body>
</html>