<%- include('./partials/head') %>
<%- include('./partials/navigation') %>
 
<body>
  <main class="desktopSpacing">
    <header>
      <h1>Favorieten</h1>
      <hr />
      <p>In dit overzicht vind je al jouw favoriete huizen terug.</p>
    </header>
 
    <div class="container">
      <div class="grid__container">
        <% alleHuizen.forEach((huis, index) => { %>
        <div class="card__favorites">
          <picture>
            <source
              srcset="https://fdnd-agency.directus.app/assets/<%= huis.poster_image %>?format=webp"
              type="image/webp" />
            <source
              srcset="https://fdnd-agency.directus.app/assets/<%= huis.poster_image %>?format=avif"
              type="image/avif" />
            <img
              src="https://fdnd-agency.directus.app/assets/<%= huis.poster_image %>"
              alt="foto huis"
              width="400"
              height="400"
              class="card__image" />
          </picture>
 
          <article>
            <ol>
              <h2 class="card__content"><a class="card__link" href="./huis/<%= huis.id %>"><%= huis.street %> <%= huis.house_nr %></a></h2>
              <li class="card__content">€ <%- huis.price.toLocaleString('nl-NL') %></li>
              <li class="card__content"><%- huis.postal_code %> <%- huis.city %></li>
              <li class="card__content"><%- huis.m2 %> m² • <%- huis.rooms %> Kamers</li>
              <li class="card__content"><%- huis.m2 %></li>
              <li class="card__content"><%- huis.agent %></li>
              
              <form action="/" method="post" class="ratingsFavorieten">
                <%- include('./partials/detailed-rating', { huis: huis }) %>
              </form>

              <a class="button__card" href="views/score.ejs" role="button" aria-label="Button naar score overzicht">
                Bekijk score 
              </a>
              
            </ol>
          </article>
        </div>
 
        <!-- Popup for each house -->
        <% }) %>
      </div>
    </div>
  </main>
</body>
 
<%- include('./partials/foot') %>