{% render 'partials/head.liquid'%}

{% assign latest = stories[0] %}
<a href="/{{ latest.district }}/{{ latest.slug }}" class="card-component-link">
    <article class="featured-article overlay"
        style="background-image: url('https://fdnd-agency.directus.app/assets/{{ latest.cover.id }}');">
        <div class="featured-article-content">
            <div class="featured-article-information">
                <span>Laatste nieuws</span>
                <div class="featured-article-date">
                    <time datetime="{{ latest.date }}">{{ latest.date | date: "%d-%m-%Y" }}</time>
                </div>
            </div>
            <h3>{{ latest.title }}</h3>
        </div>
    </article>
</a>