{% render 'partials/head.liquid' pageTitle: "Radio: {{thisstation}}" style: "home"%}
<body class="home">
    
    <main>
        <h1 class="text-xxl">
            Radiostations
        </h1>
        {% assign sorted_radiostations = radiostations | sort: radiostation.id %}
        <ul class="radiostations">
            {% for radiostation in sorted_radiostations limit: 3%}
                <li class="one-radiostation block-radio-{{radiostation.id}}">
                    <h2 class="text-l radio-name">{{radiostation.name}}</h2>
                    <a href="/radio/{{radiostation.name | url_encode | replace: '+', '%20'}}/programmering">
                        {% case radiostation.id %}
                            {% when 1 %}
                                <picture>
                                    <source type="image/avif" srcset="/assets/radio-1.avif">
                                    <source type="image/webp" srcset="/assets/radio-1.webp">
                                    <img src="/assets/radio-1.png" width="93" height="33" alt="Ga naar de programmeringspagina van {{radiostation.name}}" title="Logo van {{ radiostation.name }}">
                                </picture>
                                
                            {% when 2 %}
                                <picture>
                                    <source type="image/avif" srcset="/assets/radio-2.avif">
                                    <source type="image/webp" srcset="/assets/radio-2.webp">
                                    <img src="/assets/radio-2.png" width="143" height="29" alt="Ga naar de programmeringspagina van {{radiostation.name}}" title="Logo van {{ radiostation.name }}">
                                </picture>
                            {% when 3 %}
                                <picture>
                                    <source type="image/avif" srcset="/assets/radio-3.avif">
                                    <source type="image/webp" srcset="/assets/radio-3.webp">
                                    <img src="/assets/radio-3.png" width="369" height="150" alt="Ga naar de programmeringspagina van {{radiostation.name}}" title="Logo van {{ radiostation.name }}">
                                </picture>
                        {% endcase %}
                    </a>
                    <ul class="socials">
                        <li>
                            {% case radiostation.id %}
                                {% when 1 %}
                                    <a href="https://www.instagram.com/radioveronica/" target="_blank">
                                {% when 2 %}
                                    <a href="https://www.instagram.com/slamofficial/" target="_blank">
                                {% when 3 %}
                                    <a href="https://www.instagram.com/100pnl/" target="_blank">
                            {% endcase %}
                            <svg aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 16 16" fill="none">
                                <path d="M8.94574 14.6666V8.71308H10.8217L11.2054 6.39136H8.94574V4.77444C8.94574 4.11109 9.20155 3.61358 10.2248 3.61358H11.3333V1.49915C10.7364 1.41623 10.0543 1.33331 9.45736 1.33331C7.49612 1.33331 6.13178 2.49418 6.13178 4.56714V6.39136H4V8.71308H6.13178V14.6666H8.94574Z" fill="black"/>
                            </svg>    
                            <span class="sr-only">Instagram pagina van {{radiostation.name}}</span>
                            </a>
                        </li>
                        <li>
                            {% case radiostation.id %}
                                {% when 1 %}
                                    <a href="https://www.facebook.com/RadioVeronica" target="_blank">
                                {% when 2 %}
                                    <a href="https://www.facebook.com/slamfm" target="_blank">
                                {% when 3 %}
                                    <a href="https://www.facebook.com/100pnl" target="_blank">
                            {% endcase %}
                            <svg aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 16 16" fill="none">
                                <path d="M8.94574 14.6666V8.71308H10.8217L11.2054 6.39136H8.94574V4.77444C8.94574 4.11109 9.20155 3.61358 10.2248 3.61358H11.3333V1.49915C10.7364 1.41623 10.0543 1.33331 9.45736 1.33331C7.49612 1.33331 6.13178 2.49418 6.13178 4.56714V6.39136H4V8.71308H6.13178V14.6666H8.94574Z" fill="black"/>
                            </svg>
                            <span class="sr-only">Facebook pagina van {{radiostation.name}}</span>
                            </a>
                        </li>
                        <li>
                            {% case radiostation.id %}
                                {% when 1 %}
                                    <a href="https://www.youtube.com/user/RadioVeronica" target="_blank">
                                {% when 2 %}
                                    <a href="https://www.youtube.com/user/slamfm" target="_blank">
                                {% when 3 %}
                                    <a href="https://www.youtube.com/@100PNL" target="_blank">
                            {% endcase %}
                            <svg aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 16 16" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.3915 2.9654C14.0066 3.13005 14.49 3.6134 14.6546 4.22848C14.9521 5.34219 14.9533 7.66723 14.9533 7.66723C14.9533 7.66723 14.9533 9.99228 14.6546 11.106C14.49 11.7211 14.0066 12.2044 13.3915 12.369C12.2779 12.6678 7.81002 12.6678 7.81002 12.6678C7.81002 12.6678 3.34225 12.6678 2.22853 12.369C1.61347 12.2044 1.13011 11.7211 0.965463 11.106C0.666748 9.99228 0.666748 7.66723 0.666748 7.66723C0.666748 7.66723 0.666748 5.34219 0.965463 4.22848C1.13011 3.6134 1.61347 3.13005 2.22853 2.9654C3.34225 2.66669 7.81002 2.66669 7.81002 2.66669C7.81002 2.66669 12.2779 2.66669 13.3915 2.9654ZM10.0916 7.66745L6.38002 9.81018V5.52468L10.0916 7.66745Z" fill="black"/>
                            </svg>                              
                            <span class="sr-only">Youtube pagina van {{radiostation.name}}</span>
                            </a>
                        </li>
                        <li>
                            {% case radiostation.id %}
                                {% when 1 %}
                                    <a href="https://x.com/radioveronica" target="_blank">
                                {% when 2 %}
                                    <a href="https://x.com/slamofficial" target="_blank">
                                {% when 3 %}
                                    <a href="https://x.com/100pnl" target="_blank">
                            {% endcase %}
                            <svg aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 16 16" fill="none">
                                <path d="M9.1428 7.08177L13.6108 2H12.5524L8.6712 6.41152L5.5736 2H2L6.6852 8.67164L2 14H3.0584L7.1544 9.34028L10.4264 14H14M3.4404 2.78095H5.0664L12.5516 13.2574H10.9252" fill="black"/>
                            </svg>                            
                            <span class="sr-only">X pagina van {{radiostation.name}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
        <a class="button-bookmark" href="/bookmarks">Bekijk Bookmarks</a>
    </main>

</body>