<%- include('./partials/head') %>
<%- include('./partials/navigation') %>
 
<body>
  <main>
    <header>
      <h1>Favorieten</h1>
      <hr />
      <p>In dit overzicht vind je al jouw favoriete huizen terug.</p>
    </header>
 
    <div class="container">
      <div class="grid-container">
        <% alleHuizen.forEach((huis, index) => { %>
        <div class="card-favorites">
          <picture>
            <source
              srcset="https://fdnd-agency.directus.app/assets/<%= huis.poster_image %>?format=webp"
              type="image/webp" />
            <source
              srcset="https://fdnd-agency.directus.app/assets/<%= huis.poster_image %>?format=avif"
              type="image/avif" />
            <img
              src="https://fdnd-agency.directus.app/assets/<%= huis.poster_image %>"
              alt="foto huis"
              width="400"
              height="400"
              class="card-image" />
          </picture>
 
          <article>
            <ol>
              <h2><a class="card-link" href="./huis/<%= huis.id %>"><%= huis.street %> <%= huis.house_nr %></a></h2>
              <li>€ <%- huis.price.toLocaleString('nl-NL') %></li>
              <li><%- huis.postal_code %> <%- huis.city %></li>
              <li><%- huis.m2 %> m² • <%- huis.rooms %> Kamers</li>
              <li><%- huis.m2 %></li>
              <li><%- huis.agent %></li>
              
              <form action="/" method="post" class="ratingsFavorieten">
                <%- include('./partials/detailed-rating', { huis: huis }) %>
              </form>

              <div class="container__rating">
                <a href="" class="btn__rating"></a>
              </div>
            </ol>

            <a href="views/score.ejs">Bekijk hier de overzicht van de score </a>
          </article>
        </div>
 
        <!-- Popup for each house -->
        <% }) %>
      </div>
    </div>
  </main>
</body>
 
<%- include('./partials/foot') %>