{% render 'partials/head.liquid' %}

  <main class="main-index">
    <!-- Screen 0: Startpagina -->
    <section class="intro-container screen active" id="screen-0">
      <section class="img-container">
        <h2 class="sr-only">Intro Rouwtaak</h2>
        <img class="intro-img" src="photos/rouwtaak-blue.svg" alt="rouwtaak icoon blauw">
      </section>
      <section class="intro-text">
        <h1><span>Drop</span><span>& Heal</span></h1>
        <p>Welkom bij Drop & Heal. Een veilige plek voor jouw reis door rouwverwerking.<br><span class="spacing-s"></span>Er volgt eerst een introductie en kennismaking, hierna kan je op eigen tempo aan de slag in de omgeving.</p>
      </section>
      <section class="intro-foot">
        <h2 class="sr-only">Button om te starten met rouwen</h2>
        <div class="nav-buttons">
          <button class="btn2 intro-btn" onclick="nextScreen()">Starten</button>
        </div>
      </section>
    </section>

    <!-- Screens 1 t/m 4 (Rouwtaken) -->
    {% for task in task %}
      <section class="screen" id="screen-{{task.id}}">

        <img class="screen-icon" src="photos/rouwtaak-{{task.theme}}.svg" alt="Rouwtaak {{task.id}}">
        <img class="screen-gradient" src="photos/rouwtaak-{{task.theme}}.svg" alt="Gradient Rouwtaak {{task.id}}">

        <section class="intro-text">
            <h2>Introductie rouwtaken</h2>
            <h1>Rouwtaak {{task.id}}</h1>
            <p>{{task.title}}. {{task.description}}</p>
        </section>
        
        <section class="intro-foot">
            <div class="nav-buttons">
                <button class="btn-nav" onclick="prevScreen()">←</button>
                <a href="/rouwtaak/{{task.id}}" class="btn-nav">Start Taak</a>
                <button class="btn-nav" onclick="nextScreen()">→</button>
            </div>
        </section>

      </section>
    {% endfor %}

  </main>


{% render 'partials/foot.liquid' %}