{% render 'partials/header.liquid' %}
<style>
  :root {
    padding: 0;
    margin: 0;
    background-color: #471871;
  }

  main {
    background-color: #471871;
  }
</style>
<main>
  <h1>Lessons</h1>

  <section>
    <div id="stories">
      {% for story in stories %}
        <ul>
          <li class="verhalen">
            <picture style="view-transition-name: morph-{{ story.image }}">
              <source srcset="https://fdnd-agency.directus.app/assets//{{ story.image }}?format=avif" type="image/avif">
              <source srcset="https://fdnd-agency.directus.app/assets//{{ story.image }}?format=webp" type="image/webp">
              <img
                src="https://fdnd-agency.directus.app/assets//{{ story.image }}"
                height="100px"
                width="100px">
            </picture>

            <p style="view-transition-name: morph-{{ story.id }}">{{ story.title }}</p>
            <a href="/stories/{{ story.id }}">play story</a>
          </li>
        </ul>
      {% endfor %}
    </div>
  </section>


  <section class="liked_playlists"></section>

  <section class="all_playlists"></section>
</main>
{% render 'partials/footer.liquid' %}