<%- include('./partials/method-head') %> 

<main class="main-method-content">

    <div class="div-method-content">

    <article class="article-details article-template">
    <img src="<%= method.template?.originalAsWebP %>" onerror="this.src='/assets/logo.svg';" class="image-template-detail-page" alt="foto van <%= method.title %>" />
    </article>

    
    <article class="article-details article-material">
        <div class="detail-lines">
            <div class="detail-line">
            <img class="icon" src="/assets/categorie.svg" alt="categorie">
            <% method.categories.forEach(category=> { %>
                <p class="p-method-category">
                    <%= category?.title %>
                </p>
            <% }) %>  
        </div>
        <div class="detail-line">
        <img class="icon" src="/assets/benodigdheden.svg" alt="benodigdheden">
        <p class="p-method-material">
            <%= method.material %>
        </p>
    </div>
    <div class="detail-line">
        <img class="icon" src="/assets/duur.svg" alt="duur">
        <p class="p-method-duration">
            <%= method.duration %>
        </p>
    </div>
    <div class="detail-line">
        <img class="icon" src="/assets/auteur.svg" alt="auteur">
        <p class="p-method-author">Charley Muhren</h2>
    </div>
</div>
    </article>
    
    <article class="article-details article-description">
        <p class="header-description">Beschrijving</h2>
         <p class="p-method-description">Met deze werkvorm kan je studenten laten terugblikken en na laten denken over de negative en positieve aspecten van deze periode.
           De retrospect kan schematisch maar ook in de vorm van een metafoor worden getekend.
         </p>
    </article>
        
    <article class="article-details article-sources">
        <p class="header-sources">Bronnen</h2>
        <% method.sources.forEach(source => { %>   
            <h5 class="header-source"> <%= source.title %> </h5>
            <a href="<%= source.url %>" class="source-link"> <%= source.url %> </a>
         <% }) %> 
    </article>
</div>

</main>
<%- include('./partials/foot') %>