{% render 'partials/head.liquid' %}
<main class="news-article">
    <h1 class="heading-news">Veld nieuws</h1>
    <article>
        {% render 'partials/picture.liquid',
            imagesrc: newsItem.image,
            width: "800",
            height: "400",
            alt: newsItem.title,
            fetch: "high",
            loading: "eager",
        %}
        <p class="date">Geplaatst: {{ newsItem.date | date: '%d-%m-%Y %H:%M' }}</p>
        <h2>{{ newsItem.title }}</h2>
        <p class="description">{{ newsItem.body }}</p>

        {% comment %} MARK: COMMENT {% endcomment %}
        <section class="comment">
            <h3>Voeg een opmerking toe</h3>
            <form action="/nieuws/{{ newsItem.id }}/{{ newsItem.slug }}" method="POST">
                <label class="name-input">
                    Naam:
                    <input type="text" name="name" placeholder="Voer je naam in" required>
                </label>
                
                <label class="message-input">
                    Bericht:
                    <input type="text" name="comment" required maxlength="100" placeholder="Voeg een opmerking" required></textarea>
                </label>

                {% comment %} deze label kan weg {% endcomment %}
                <label>
                    <button class="submit" type="submit" value="Verstuur">Verstuur</button>
                </label>
            </form>
        </section>

        {% comment %} Message box {% endcomment %}
    <section class="messages">
        <h3 id="reviews">{{ comments.size }} Opmerkingen</h3>

        {% for comment in comments %}
        <section class="message-wrap">
            <p class="comment-name">{{ comment.name | default: "Onbekend" }}:</p>
            <p class="comment-message"> {{ comment.comment }}</p> 
            <p class="date-created">{{ comment.date_created | date: '%d-%m-%Y %H:%M' }}</p>
        </section>

        {% else %}
            {% comment %} Empty state {% endcomment %}
        <img src="/assets/images/emptyState.png" width="100" height="100" alt="Geen opmerking">    
        <p>Er zijn nog geen berichten voor dit artikel.</p>
        {% endfor %}

        <script type="module">
            // Script voor het commentaarformulier op de details pagina
            // 1. const eerst het formulier, de submit button en de comment container
            const commentForm = document.querySelector('.comment form')
            // console.log('formulier:', articleForm)
            const formButton = commentForm.querySelector('button')
            const articleComments = document.querySelector('.messages')

            // Als er op de submit button wordt geklikt ...
            commentForm.addEventListener('submit', async function (event) {
                // Voorkom de standaard submit van de browser
                // Let op: hiermee overschrijven we de default Loading state van de browser...
                event.preventDefault()
                console.log('submit')

                //Loading state tonen:
                formButton.classList.add('loading')
                formButton.textContent = 'Verzenden...'

                //formdata voorbereiden:
                let formData = new FormData(commentForm);

                // Data fetchen:
                // Doe een fetch naar de server, net als hoe de browser dit normaal zou doen
                // Gebruik daarvoor het action en method attribuut van het formulier
                // Stuur de formulierelementen mee

                {% comment %} Promise laat je op meerdere dingen tegelijkertijd wachten {% endcomment %}
                 {% comment %} [response] pakt alleen het eerste resultaat uit de fetch response {% endcomment %}
                const [response] = await Promise.all([
                    fetch(commentForm.action, {
                        method: commentForm.method, //POST dus
                        body: new URLSearchParams(formData) // <<< Dit moet omdat server.js anders niet met de formulier data kan werken
                    }),
                    new Promise(resolve => setTimeout(resolve, 2500)) // minimaal 5 seconden
                ])

                console.log(response)

                // Data verwerken:
                // De server geeft data terug als het posten goed gaat
                const responseData = await response.text()

                // Normaal zou de browser die HTML parsen en weergeven, maar daar moeten we nu zelf iets mee
                // Parse de nieuwe HTML en maak hiervan een nieuw Document Object Model in het geheugen
                const parser = new DOMParser()
                const responseDOM = parser.parseFromString(responseData, 'text/html')

                // Zoek in die nieuwe HTML DOM onze nieuwe UI state op, die we via Liquid hebben klaargemaakt
                const newState = responseDOM.querySelector('.messages')

                // data van de server toevoegen aan de DOM, aan de scorelijst in de ol
                // Overschrijf de HTML met de nieuwe HTML
                if (newState) {
                    articleComments.innerHTML = newState.innerHTML
                }
                // Loading state weghalen
                // Nu kan je waarschijnlijk de Loading state vervangen door een Success state
                // console.log("Loading state weghalen")
                formButton.classList.remove('loading')
                formButton.classList.add('success')
                formButton.textContent = '✔ Verstuurd!'

                commentForm.reset()

                // Na 2 seconden terug naar normale state
                setTimeout(() => {

                    formButton.classList.remove('success')

                    formButton.textContent = 'Verzenden'

                }, 2000)
            })
        </script>
    </article>
</main>
{% render 'partials/foot.liquid' %}
