{% render 'partials/head.liquid', user: user %}

<main class="nieuws">
    {% render 'partials/breadcrumbs.liquid',
        current_path: current_path,
    %}

    <section></section>
    <section class="list-news">
        <ul>
            {% for newsItem in nieuws %}
                <li>
                    <picture>
                        <source type="image/avif" srcset="https://fdnd-agency.directus.app/assets/{{newsItem.image}}?format=avif">
                        <source type="image/webp" srcset="https://fdnd-agency.directus.app/assets/{{newsItem.image}}?format=webp">
                        <img width="150" height="100" loading="lazy" src="https://fdnd-agency.directus.app/assets/{{newsItem.image}}" alt="{{newsItem.title}}">
                    </picture>
                    <p class="tag">Bloemneveld</p> 
                    <a href="/nieuws/{{ newsItem.slug }}">{{ newsItem.title |  truncate: 60}}</a>
                </li> 
            {% endfor %}

        </ul>
    </section>
</main>

{% render 'partials/foot.liquid', current_path: current_path %}