{% render 'partials/head.liquid' %}

 <section class="hero">
    <img class="hero-img" src="assets/{{ task.0.title }}.png">
    <img class="gradient-left" src="assets/{{ task.0.title }}.png">
    <img class="gradient-right" src="assets/{{ task.0.title }}.png">
    <div class="hero-text">
      <h2>Rouwstappen van de dag</h2>
      <p>1 oefening open vandaag</p>
    </div>
  </section>

  <section class="exercise-container">
  {% for exercise in exercise %}
    <article class="exercise-card {% if exercise.title != 'Dagboek van verlies' %}inactive{% endif %}">
      {% if exercise.title == "Dagboek van verlies" %}
        <figure class="exercise-image-container">
          <img src="https://fdnd-agency.directus.app/assets/{{ exercise.image }}?width=200&height=200" alt="Task Image" class="exercise-image">
          <button class="start-button">Start oefening</button>
        </figure>
      {% endif %}  

      <section class="exercise-content">
        <header>
          <p class="exercise-category">{{ exercise.type }}</p>
          <h2>{{ exercise.title }}</h2>
        </header>

        <section class="exercise-info">
          <div class="community-drops">
            <img src="assets/drops.png">
            <span class="drop-text">47 community drops</span>
          </div>
          <div class="info-badge"><img src="assets/Vector.png">{{ exercise.duration }} min</div>
          <div class="info-badge"><img src="assets/Vector.png">3 tips</div>
        </section>
      </section>
    </article>
    {% endfor %}
      <p class="end-text">Einde voor vandaag</p>
  </section>

{% render 'partials/foot.liquid' %}