<%- include('partials/head') %>
<%- include('partials/nav') %>

<style>
    body {
        padding-left: 10rem;
    }
</style>

<body class="family_page">
    <h1>User Overview</h1>
    <ul>
        <% data.forEach(user => { %>
            <li>
                <article class="user_overview">
                    <picture>
                        <source srcset="https://fdnd-agency.directus.app/assets/<%= user.data.avatar %>?format=avif" media="(max-width: 160px)" type="image/avif">
                        <source srcset="https://fdnd-agency.directus.app/assets/<%= user.data.avatar %>?format=webp" type="image/webp">
                        <img src="https://fdnd-agency.directus.app/assets/<%= user.data.avatar %>" loading="lazy"/>
                    </picture>
                    <div class="info_list">
                        <h2><%= user.data.name %></h2>
                        <% if (user.data.linked_item && user.data.linked_item.length > 0) { %> 
                            <p><strong><%= user.data.linked_item.length %></strong> items momenteel aan het lenen</p>

                            <% 
                            const itemsTerugWeek = user.data.linked_item.filter(item => { 
                                const datumTerug = new Date(item.oba_item_id.datetime);
                                const huidigeDatum = new Date();
                                const startOfWeek = new Date(huidigeDatum.getFullYear(), huidigeDatum.getMonth(), huidigeDatum.getDate() - huidigeDatum.getDay());
                                const endOfWeek = new Date(huidigeDatum.getFullYear(), huidigeDatum.getMonth(), huidigeDatum.getDate() - huidigeDatum.getDay() + 6);
                                return datumTerug >= startOfWeek && datumTerug <= endOfWeek;
                            });

                            const itemsTerugMaand = user.data.linked_item.filter(item => { 
                                const datumTerug = new Date(item.oba_item_id.datetime);
                                const huidigeDatum = new Date();
                                const startOfMonth = new Date(huidigeDatum.getFullYear(), huidigeDatum.getMonth(), 1);
                                const endOfMonth = new Date(huidigeDatum.getFullYear(), huidigeDatum.getMonth() + 1, 0);
                                return datumTerug >= startOfMonth && datumTerug <= endOfMonth;
                            });

                            const itemsDueCountThisWeek = itemsTerugWeek.length;
                            const itemsDueCountThisMonth = itemsTerugMaand.length;

                            const totalAmount = user.data.linked_item.reduce((total, item) => total + parseFloat(item.oba_item_id.price), 0);
                            %>

                            <p><strong class="<%= itemsDueCountThisMonth > 0 ? 'mild_danger' : '' %>"><%= itemsDueCountThisMonth %></strong> items deze maand terug</p>
                            <p><strong class="<%= itemsDueCountThisWeek > 0 ? 'danger' : '' %>"><%= itemsDueCountThisWeek %></strong> items deze week terug</p>
                            <p><strong>€ <%= totalAmount.toFixed(2) %></strong> totaal aan het lenen</p>
                        <% } else { %>
                            <p>Er wordt momenteel niks geleend!</p>
                        <% } %>
                    </div>
                    <button popovertarget="my-popover-<%= user.data.id %>">details</button>

                    <div class="popover" popover id="my-popover-<%= user.data.id %>">
                        <article class="user_overview">
                            <div class="top_side">
                                <picture>
                                    <source srcset="https://fdnd-agency.directus.app/assets/<%= user.data.avatar %>?format=avif" media="(max-width: 160px)" type="image/avif">
                                    <source srcset="https://fdnd-agency.directus.app/assets/<%= user.data.avatar %>?format=webp" type="image/webp">
                                    <img src="https://fdnd-agency.directus.app/assets/<%= user.data.avatar %>" loading="lazy"/>
                                </picture>
                                <div class="info_list">
                                    <h2><%= user.data.name %></h2>
                                    <% if (user.data.linked_item && user.data.linked_item.length > 0) { %> 
                                        <p><strong><%= user.data.linked_item.length %></strong> items momenteel aan het lenen</p>

                                        <% 
                                        const itemsTerugWeek = user.data.linked_item.filter(item => { 
                                            const datumTerug = new Date(item.oba_item_id.datetime);
                                            const huidigeDatum = new Date();
                                            const startOfWeek = new Date(huidigeDatum.getFullYear(), huidigeDatum.getMonth(), huidigeDatum.getDate() - huidigeDatum.getDay());
                                            const endOfWeek = new Date(huidigeDatum.getFullYear(), huidigeDatum.getMonth(), huidigeDatum.getDate() - huidigeDatum.getDay() + 6);
                                            return datumTerug >= startOfWeek && datumTerug <= endOfWeek;
                                        });

                                        const itemsTerugMaand = user.data.linked_item.filter(item => { 
                                            const datumTerug = new Date(item.oba_item_id.datetime);
                                            const huidigeDatum = new Date();
                                            const startOfMonth = new Date(huidigeDatum.getFullYear(), huidigeDatum.getMonth(), 1);
                                            const endOfMonth = new Date(huidigeDatum.getFullYear(), huidigeDatum.getMonth() + 1, 0);
                                            return datumTerug >= startOfMonth && datumTerug <= endOfMonth;
                                        });

                                        const itemsDueCountThisWeek = itemsTerugWeek.length;
                                        const itemsDueCountThisMonth = itemsTerugMaand.length;

                                        const totalAmount = user.data.linked_item.reduce((total, item) => total + parseFloat(item.oba_item_id.price), 0);
                                        %>

                                        <p><strong class="<%= itemsDueCountThisMonth > 0 ? 'mild_danger' : '' %>"><%= itemsDueCountThisMonth %></strong> items deze maand terug</p>
                                        <p><strong class="<%= itemsDueCountThisWeek > 0 ? 'danger' : '' %>"><%= itemsDueCountThisWeek %></strong> items deze week terug</p>
                                        <p><strong>€ <%= totalAmount.toFixed(2) %></strong> totaal aan het lenen</p>
                                    <% } else { %>
                                        <p>Er wordt momenteel niks geleend!</p>
                                    <% } %>
                                </div>
                            </div>
                            <div class="item_list">
                                <% if (user.data.linked_item && user.data.linked_item.length > 0) { %> 
                                    <ul>
                                        <% 
                                        const today = new Date();
                                        const sortedItems = user.data.linked_item.sort((a, b) => new Date(a.oba_item_id.datetime) - new Date(b.oba_item_id.datetime));

                                        sortedItems.forEach(item => { 
                                            const itemDate = new Date(item.oba_item_id.datetime);
                                            const isBeforeToday = itemDate < today;
                                            const classList = isBeforeToday ? 'danger' : '';
                                        %>
                                            <li class="<%= classList %>">
                                                <div><%= item.oba_item_id.title %></div>
                                                <div><%= item.oba_item_id.auteur %></div>
                                                <div>
                                                    <%= itemDate.toLocaleString('nl-NL', { month: 'long', day: 'numeric', hour: 'numeric', minute: '2-digit' }) %>
                                                </div>
                                            </li>
                                        <% }); %>
                                    </ul>
                                <% } else { %>
                                    <p>Er wordt momenteel niks geleend!</p>
                                <% } %>
                            </div>
                        </article>
                    </div>
                </article>
            </li>
        <% }); %>
    </ul>
</body>
<%- include('partials/foot') %>
